<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dima and Shanti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/test1.css')}}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img "header__img" src="{{ url_for('static', filename='image/logo.jpg') }}" alt="MyBrand Logo"> 
        </div>
        <nav class="nav">
            <button class="btn btn-register">register</button>
            <button class="btn btn-login">login</button>
        </nav>
    </header>
</body>
</html>
<h1>Main paeg</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Nostrum incidunt corporis praesentium? Magni.</li>
<li>Itaque, illum. Quaerat, deleniti fuga.</li>
<li>Quos, ipsa placeat. Exercitationem, accusantium.</li>
<li>Iusto corporis libero voluptatem aliquid?</li>
<li>Assumenda sit tempore tempora fuga!</li>
<li>Inventore nam nobis enim officiis?</li>
<li>Veniam a mollitia impedit culpa.</li>
<li>Neque soluta vel non error!</li>
<li>Magni maiores veniam perspiciatis vel.</li>
<li>Distinctio aut nostrum nulla accusamus!</li>
<li>Quibusdam explicabo deserunt impedit culpa.</li>
<li>Quod minima illo perspiciatis error.</li>
<li>Earum natus molestias repudiandae nostrum?</li>
<li>Sunt magnam illo itaque reprehenderit!</li>
<li>Ipsa blanditiis ducimus facilis velit.</li>
<li>Eos illo aliquam quod velit.</li>
<li>Pariatur eos suscipit exercitationem mollitia?</li>
<li>Hic, aspernatur odit? Repudiandae, sint.</li>
<li>Officiis veritatis aspernatur autem ipsam?</li>
<li>Porro deleniti eum suscipit magni.</li>
<li>Dolore fuga reprehenderit vel suscipit!</li>
<li>Odit, sit voluptates. Corporis, saepe.</li>
<li>Enim dolorum aperiam nam obcaecati!</li>
<li>Nostrum sit impedit labore saepe?</li>
<li>Praesentium optio iure sapiente temporibus!</li>
<li>Esse et voluptas quia non?</li>
<li>Quibusdam delectus a maiores quia!</li>
<li>Quidem sunt quos expedita est.</li>
<li>Dolorum quas cupiditate blanditiis. Impedit?</li>
<li>Repudiandae ducimus animi eligendi officia.</li>
<li>Ducimus inventore cum vero nobis.</li>
<li>Ratione, minima qui. Quos, ut.</li>
<li>Voluptatum dolor quo dolorem! Iusto.</li>
<li>Ea error voluptate veniam molestias.</li>
<li>Ea quidem repellendus repudiandae! Ipsa.</li>
<li>Accusantium quisquam earum veritatis architecto?</li>
<li>Veniam incidunt velit reiciendis quos.</li>
<li>Totam rem quod accusantium cum.</li>
<li>Excepturi omnis ipsam animi sapiente.</li>
<li>Accusantium consequatur soluta quos eum.</li>
<li>Blanditiis eius obcaecati iure magnam.</li>
<li>Ullam mollitia laudantium fugiat minima!</li>
<li>Eos illo aspernatur impedit nihil.</li>
<li>Eveniet, laudantium. Vitae, officiis sed?</li>
<li>Magni totam natus tenetur nulla?</li>
<li>Maiores debitis minus facere veritatis.</li>
<li>Voluptates laborum sunt illum ducimus?</li>
<li>Ad nesciunt neque minus aliquid?</li>
<li>Accusamus cumque voluptas veritatis facilis.</li>
<li>Sint quisquam dolor eum numquam!</li>
<li>Sint minus accusamus ab fuga.</li>
<li>Fugiat pariatur ea assumenda dolores?</li>
<li>Eum similique sunt pariatur ex?</li>
<li>Distinctio esse consequuntur eum est!</li>
<li>Reprehenderit aperiam autem dolor ea.</li>
<li>Iusto alias officiis culpa modi.</li>
<li>Doloribus vero minima perferendis magni?</li>
<li>Esse tempora officiis ratione sunt.</li>
<li>Dicta corrupti fugiat at optio!</li>
<li>Explicabo adipisci aliquam consectetur nemo.</li>
<li>Nostrum quis quia exercitationem consectetur!</li>
<li>Impedit quasi suscipit deleniti reiciendis!</li>
<li>Itaque impedit hic aliquid sunt.</li>
<li>Vel ratione doloribus fugit fugiat.</li>
<li>Reiciendis, facere consectetur. Quidem, quisquam!</li>
<li>Aliquam consequatur sed non esse.</li>
<li>Debitis labore tempora eligendi tempore.</li>
<li>Cumque exercitationem vero fuga necessitatibus!</li>
<li>Eligendi ea laborum dolore doloribus.</li>










